/*
Source - https://stackoverflow.com/a
Posted by Gustavo Bezerra, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-11, License - CC BY-SA 4.0
*/

.wy-side-nav-search, .wy-nav-top {
    background: #07074f;
}
