/* override table width restrictions */
@media screen and (min-width: 1024px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
   .wy-nav-content {
    max-width: 85% !important;
   }
}

/*
Source - https://stackoverflow.com/a
Posted by Gustavo Bezerra, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-11, License - CC BY-SA 4.0
*/

.wy-side-nav-search, .wy-nav-top {
    background: #07074f;
}
